.appointment-card {
  padding: 6px;
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    background-color: #EEE;
    flex-grow: 1;
    margin: 4px;
    padding: 6px;
  }
  &__icon {
    border: 1px solid #CCC;
    border-radius: 25px;
    float: left;
    height: 50px;
    margin-right: 12px;
    overflow: hidden;
    width: 50px;
  }
  &__description {
    float: left;
    h5 {
        font-weight: 400;
        margin: 4px 0;
    }
    h4 {
        margin: 6px 0;
    }
  }
}