.calendar {
    height: 400px;
    overflow: scroll;
    background-color: #F5F5F5;
    &__header {
        background-color: #EEE;
        display: flex;
        padding: 6px;
        text-align: center;
    }
    &__button-left {
        flex-grow: 0;
        min-width: 100px;
    }
    &__button-right {
        flex-grow: 0;
        min-width: 100px;
    }
    &__date-description {
        flex-grow: 1;
    }
    &__content {
        display: flex;
        position: relative;
    }
    &__column-date {
        background-color:#DDD;
        flex-grow: 1;
        &-item {
            background-color: #EEE;
            margin: 4px;
            text-align: center;
            padding: 4px;
            &--fixed {
                background: #EEE;
                padding-top: 4px;
                position: sticky;
                top: 0;
            }
        }
        @media (max-width: 640px) {
            &--hide {
                display: none;
            }
        }
    }
    &__schedule-button {
        background-color: #00c3a5;
        border: 1px solid #FFF;
        border-radius: 4px;
        color: #FFF;
        cursor: pointer;
        margin-bottom: 10px;
        padding: 6px;
        width: 90%;
            &--disabled {
                background-color: #CCC;
                cursor: unset;
            }
    }
    &__link {
        color: #00c3a5;
        cursor: pointer;
        display: block;
        font-size: 0.8rem;
        margin-top: 14px;
        text-decoration: underline;
    }
    &__error {
        color: red;
        text-align: center;
        width: 100%;
    }
}