.header {
  background:#666;
  color: #FFF;
  font-weight: 400;
  padding: 10px;
  &__container {
    margin: auto;
    max-width: 960px;
  }
  &__options {
    float: right;
    margin-top: 2px;
  }
}