*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 14px 0 14px 0;
}
body {
  color: #444;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
}
hr {
  border: 0;
  background-color: #f5f5f5;
  height: 1px;
  margin: 20px 0 20px 0;
}
.container {
  display: grid;
}
footer {
  background:#666;
  color: #FFF;
  font-weight: 400;
  padding: 10px;
}
.footer {
  margin: auto;
  max-width: 960px;
}
#content {
  margin: auto;
  max-width: 960px;
  padding: 10px;
}
.form-group {
  margin-bottom: 10px;
  label {
    display: inline-block;
    margin-bottom: .3rem;
  }
  .form-element {
    display: block;
    width: 100%;
    padding: 6px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
}
.alert {
  padding: 4px;
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 4px;
  h5 {
    margin: 0;
  }
  &--error {
    background: rgba(255, 0, 0, 0.3);
  }
  &--success {
    background: rgba(34,139,34, 0.5);
  }
}
.message {
  text-align: center;
  &--error {
    h5 {color: red};
  }
  &--success {
    h5 {color: green};
  }
  h5 {
    font-weight: 400;
  }
}
.login {
  margin: auto;
  max-width: 478px;
}
.button {
  background-color: #00c3a5;
  border: 1px solid #FFF;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 6px;
}
.link {
  background: transparent;
  border: 0;
  color: #00c3a5;
  cursor: pointer;
}
